.App {
  text-align: center;
}
.App-header {
  background-color: #f2756f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2756f;
}

.App-link {
  color: #f2756f;
}

.Box {
  justify-content: center;
  background-color: #f2756f;
}

.color-navb{
  background-color: #76509f;
 
 
}


.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
  background-color: #76509f;
}


